body {
    background-color: rgb(35, 35, 35) !important;
    color: white;
    background-image: url('./assets/map-full.jpg');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.wb-text-gray {
    color: rgb(156, 156, 156) !important;
}

.wb-rounded-border {
    border-radius: 10px;
}

.wb-bg-gray {
    background-color: rgb(50, 50, 50) !important;
}

.wb-bg-gray-light {
    background-color: rgb(62, 62, 62) !important;
}

.wb-bg-brown {
    background-color: rgb(103, 51, 30, 0.5);
    /* #67331e; */
}

.wb-bg-brown:hover {
    background-color: rgb(103, 51, 30, 1);
    /* #67331e; */
}