body {
    background-color: rgb(35, 35, 35) !important;
    color: white;
    /* background-image: url('./assets/map-full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.wb-bg-image-div {
    width: 100vw;
}

.wb-bg-image {
    pointer-events: none;
    position: absolute;
    /* height: 100%; */
    width: 100%;
    z-index: -1;
    opacity: 60%;
}

.wb-text-gray {
    color: rgb(156, 156, 156) !important;
}

.wb-rounded-border {
    border-radius: 10px;
}

.wb-bg-gray {
    background-color: rgb(50, 50, 50) !important;
}

.wb-bg-gray-light {
    background-color: rgb(62, 62, 62) !important;
}